/*
 * Assignment 02
 * CSS FILE
 */

html {
  font-size: 1.2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F2E8CF;
  color:#386641;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #386641;
  color:#F2E8CF;
}

h2{
  color: #F2E8CF;
  font-size: auto;
}

header .header--banner--logo {
  height: 2.2rem;
  padding-right: 0.6rem;
}

header .header--banner--nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

header nav.header--banner--nav {
  margin-left: auto;
  margin-right: 1rem;
}

header nav.header--banner--nav ul li a {
  font-size: 1rem;
  color: #F2E8CF;
  text-decoration: none;
  font-weight: 800;
}

header nav.header--banner--nav ul li a:hover {
  color: #fffaee;
  text-decoration: underline;
  font-weight: 1000;
}






h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
}



footer {
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6A994E; /* Keep the current background color */
  color: #f1faee; /* Keep the current text color */
}

footer .footer--nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav.footer--nav {
  margin-left: auto;
  margin-right: 1rem;
}

footer .footer--nav ul li a {
  font-size: 0.8rem; /* Reduce the font size */
  text-decoration: none;
  font-weight: 900;
  color: #F2E8CF;
}

footer nav.footer--nav ul li a:hover {
  color: #fffaee;
  text-decoration: underline;
  font-weight: 1000;
}

.footer--nav-push {
  margin-left: auto;
}

footer .targeth2 {
  font-size: 1rem;
}

footer .footer--logo {
  height: 1.8rem;
  padding-right: 0.5rem;
}

